body {
    background-color: whitesmoke;
    color: #212529;
}

.header-area {
    /* background-color: #e9ecef; */
    /* background-color: #212529; */
}
.logo {
    color: black;
}
.logo-div {
}

.navigation {
    color: black;
}
.introduction {
        background-color: #ced4da;
        /* color: black; */
}

.my-skills {
    /* background-color: #adb5bd; */
}

.
#sun {
    display: none;
    color: #212529;
    background-color: #dee2e6;
    text-align: center;
    justify-content: right;
    font-weight: bold;
    font-size: large;
}

#moon {
    color: #212529;
    background-color: #dee2e6;
    text-align: center;
    justify-content: right;
    font-weight: bold;
    font-size: large;
}

